.container
form{
    margin-top:2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container
input{
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    color:#545497;
    background-color: #D9D9D9;
    border: 2px solid #E5E5F3;
    margin-bottom: 30px;
    width:100%;
    height: 60px;
    font-size: 15px;
   
}
.container
.btn{
    width:80%;
    padding: 20px;
    height: 70px;
    color: white;
    border-radius: 10px;
    font-size: 23px ;
    background-color: #262688;
    cursor: pointer;

}
.container
.txt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container
.btn-google{
    width:80%;
    padding: 20px;
    height: 50px;
    color: white;
    border-radius: 5px;
    font-size: 15px ;
    background-color: #212121;    
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}
.btn-google img{
    width: auto;
    height: 20px;
    margin-right: 5px;
}
.container
.check{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-top:9px;
    border: 2px solid black;
}
.container
.text{
    display: flex;
    font-size: 13px;
    margin-top: 20px;

    
}
.container
.read{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;

}
.container
span{
    color: #262688;
}





@media(min-width:980px){
.container
input,
.container
.btn-google,
.container
.btn{
width:560px;
}
}