.main{
    width: 100%;
}
.Header{
    width: 100%;
    height: 18.1vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 264px;
    background-color: white;
    color: black;
    border-bottom: 2px solid #262688;
}
.Footer{
    width: 100%;
    position: absolute;
    bottom: 1;
}
.tripSummary{
    margin: 0;
    border: 0;
    height: 2500px;
    background-color: #ffffff;
}
